beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
fake-useragent==0.1.11
idna==3.3
numpy==1.23.1
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
pytesseract==0.3.9
requests==2.28.1
soupsieve==2.3.2.post1
tesserocr @ file:///C:/Users/q8977/OneDrive/%E6%A1%8C%E9%9D%A2/da_project/%E8%A9%A6%E9%A1%8C3/tesserocr-2.5.2-cp39-cp39-win_amd64.whl
urllib3==1.26.10
